<%= render :partial => "shared/generic_errors", :locals => { :object => @assignment } %>

<%= form_for(@assignment) do |form| %>     
<p>
	<%= form.label :problem_id %><br>
	<%= form.collection_select :problem_id, Problem.all, :id, :name, :prompt => true %>
</p>

<p>
	<%= form.label :value %><br>
	<%= form.text_field :value %> <%= @assignment.problem ? "Default value (#{@assignment.problem.default_value})" : "Leave blank for default" %>
</p>

<p>
	<%= form.label :start_at %><br>
	<%= form.text_field :start_at %>
</p>
<p>
	<%= form.label :due_at %><br>
	<%= form.text_field :due_at %>
</p>
<p>
	<%= form.label :group_id %><br>
	<%= form.collection_select :group_id, Group.all, :id, :name, :prompt => true %>
</p>
<p>
	<%= form.label :problem_set_id %><br>
	<%= form.collection_select :problem_set_id, Group.all, :id, :name, :prompt => true %>
</p>


<p><%= form.submit %></p>
<% end %>