<%= render :partial => "shared/generic_errors", :locals => { :object => @assignment } %>

<%= form_for(@assignment, :html => { :class => "form-horizontal" }) do |form| %>
  <fieldset>
    <% if @assignment.errors.any? %>
      <div class="alert">
        <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this @assignment from being saved:</h2>
        <ul>
          <% @assignment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <%= form.label :problem_id, :class => "control-label" %>
      <div class="controls">
        <%= form.collection_select :problem_id, Problem.all, :id, :name, :prompt => true %>
      </div>
    </div>

    <div class="control-group">
      <%= form.label :value, :class => "control-label" %>
      <div class="controls">
        <%= form.text_field :value %> <%= @assignment.problem ? "Default value (#{@assignment.problem.default_value})" : " (Leave blank for default)" %>
      </div>
    </div>

    <div class="control-group">
      <%= form.label :start_at, :class => "control-label" %>
      <div class="controls date start">
        <%= text_field_tag :start_at, @assignment.start_at.try(:to_date), :class => "datepicker"  %>
        <%= form.time_select :start_at, :ignore_date => true %>
      </div>
    </div>

    <div class="control-group">
      <%= form.label :due_at, :class => "control-label" %>
      <div class="controls date end">
        <%= text_field_tag :due_at, @assignment.due_at.try(:to_date), :class => "datepicker"  %>
        <%= form.time_select :due_at, :ignore_date => true %>
      </div>
    </div>

    <div class="control-group">
      <%= form.label :group_id, :class => "control-label" %>
      <div class="controls">
        <%= form.collection_select :group_id, Group.all, :id, :name, :prompt => true %>
      </div>
    </div>
    <div class="control-group">
      <%= form.label :problem_set_id, :class => "control-label" %>
      <div class="controls">
        <%= form.collection_select :problem_set_id, Group.all, :id, :name, :prompt => true %>
      </div>
    </div>

    <div class="form-actions">
      <button class="btn btn-primary" name="commit" type="submit">Save</button>
      <%= link_to "Cancel", assignments_path, :class => "btn" %>
    </div>
  </fieldset>
<% end %>
