<h1> <%= @assignment.problem.name %></h1>
<p>
<%= link_to "Edit", edit_assignment_path(@assignment) %> |
<%= link_to "Delete", assignment_path(@assignment), :method => :delete %> |
<%= link_to "Back", assignments_path %>
</p>

<h3>Starts</h3>
<div class="well well-small">
  <p><%= @assignment.start_at %></p>
</div>

<h3>Due</h3>
<div class="well well-small">
  <p><%= @assignment.due_at %></p>
</div>

<h3>Value</h3>
<div class="well well-small">
  <p><%= @assignment.value %></p>
</div>

<h2>Problem details</h2>
<%= render :partial => "shared/problem_show", :locals => {:problem => @assignment.problem} %>

<div class="form-actions">
  <%= link_to "Back", assignments_path, :class => "btn" %>
</div>
