<h1>Problems</h1>
<%= link_to "New", new_problem_path, :class => "btn btn-primary" %>
<br />

<div class="problems-list">
  <ul>
    <% @problems.each do |problem| %>
      <li>
        <%= link_to problem.name, problem_path(problem), :class => "view-link" %>&nbsp;&nbsp;|&nbsp;&nbsp;
		<%= link_to "Edit", edit_problem_path(problem) %>&nbsp;&nbsp;|&nbsp;&nbsp;
		<%= link_to "Delete", problem_path(problem), :method => :delete %>&nbsp;&nbsp;|&nbsp;&nbsp;
		<%= link_to "Copy", copy_problem_path(problem) %>
      </li>
    <% end %>
  </ul>
</div>
