<br />
<h1> <%= @problem.name %> </h1>
<p>
<%= link_to "Edit", edit_problem_path(@problem) %> |
<%= link_to "Delete", problem_path(@problem), :method => :delete %> |
<%= link_to "Back", problems_path %>
</p>
<br />

<%= render :partial => "shared/problem_show", :locals => {:problem => @problem} %>

<div class="form-actions">
  <%= link_to "Back", problems_path, :class => "btn" %>
</div>
