<%= render :partial => "shared/generic_errors", :locals => { :object => @group } %>
<%= form_for(@group) do |form| %>     
<p>
	<%= form.label :name %><br>
	<%= form.text_field :name %>
</p>
<p>
	<%= form.label :description %><br>
	<%= form.text_field :description %>
</p>
<p>
	<%= form.label :tags %><br>
	<%= form.text_field :tags %>
</p>

<%= form.label :students %>
<p>
	<% Student.all.each do |student| %>
	<div class="student-checkbox">
		<%= check_box_tag 'group[student_ids][]', student.id, @group.students.include?(student) %>
		<%= student.email %>
	</div>
	<% end %>
</p>

<p><%= form.submit %></p>
<% end %>