<h1> <%= @group.name %></h1>
<p>
<%= link_to "Edit", edit_group_path(@group) %> |
<%= link_to "Delete", group_path(@group), :method => :delete %> |
<%= link_to "New", new_group_path %> |
<%= link_to "Back", groups_path %>
</p>

<h3>Description</h3>
<div class="well well-small">
  <p> <%= @group.description %></p>
</div>

<h3>Tags</h3>
<div class="well well-small">
  <p> <%= @group.tags %></p>
</div>

<h3>Students</h3>
<div class="well well-small">
<ul>
	<% @group.students.each do |student| %>
	<li><%= student.email %></li>
	<% end %>
</ul>
</div>

<h3>Assignments</h3>
<div class="well well-small">
<ul>
	<% @group.assignments.each do |assignment| %>
	<li><%= link_to assignment, assignment_path(assignment) %> | Starts: <%= assignment.start_at %> | Due <%= assignment.due_at %> | Value: <%= assignment.value %> | <%= link_to "Edit", edit_assignment_path(assignment) %> | <%= link_to "Delete", assignment_path(assignment), :method => :delete %></li>
	<% end %>
</ul>
</div>

<div class="form-actions">
  <%= link_to "Back", groups_path, :class => "btn" %>

  <%= link_to "Edit", edit_group_path(@group), :class => "btn" %>
</div>
