<div class="row">
  <div class="well well-small span5">
    <p class="lead">
    <strong>Description:</strong>
    <%= problem.description %>
    </p>

    <p class="lead">
    <strong>Default Points:</strong>
    <%= problem.default_value %>
    </p>

    <p class="lead">
    <strong>Language:</strong>
    <%= problem.language %>
    </p>
  </div>

  <div class="well well-small pull-right span5">
    <p class="lead">
    <strong>Max CPU Time:</strong>
    <%= problem.max_cpu_seconds %> seconds
    </p>

    <p class="lead">
    <strong>Max Total Time:</strong>
    <%= problem.max_total_seconds %> seconds
    </p>

    <p class="lead">
    <strong>Max Memory:</strong>
    <%= problem.max_megabytes %> MB
    </p>
  </div>
</div>

<h3>Template Code</h3>
<div class="well well-small">
  <textarea class="view"><%= problem.template_code %></textarea>
</div>

<h3>Reference Code</h3>
<div class="well well-small">
  <textarea class="view"><%= problem.reference_code %></textarea>
</div>

<br />
<h2>Tests</h2>
<div class="accordion" id="accordion">
  <% problem.problem_tests.each_with_index do |test, index| %>
    <div class="problem_test accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index+1 %>">
          <h4>Test <%= index+1 %></h4>
        </a>
      </div>

      <div id="collapse<%= index+1 %>" class="accordion-body collapse">
        <div class="accordion-inner">
          <h3>Driver</h3>
          <div class="well well-small">
            <textarea class="view"><%= test.driver %></textarea>
          </div>
          <h3>Expected Result</h3>
          <div class="well well-small">
            <p><%= test.expected_result %></p>
          </div>
          <h3>Show Result?</h3>
          <div class="well well-small">
            <p><%= test.show_result %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

