<h1> <%= resource.to_s %> </h1>
<p>
  <%= link_to "Edit", edit_resource_path(resource) %> |
  <%= link_to "Delete", resource_path(resource), :method => :delete %> |
  <%= link_to "Back", problems_path %> |
  <%= link_to "Download Submissions", download_bundle_submission_path(resource) %>
</p>

<table class="<%= resource.class.to_s.downcase %> detail">
  <% resource.attributes.each_pair do |attr, value| %>
    <% next if ['response', 'id', 'created_at', 'updated_at'].include?(attr) %>
    <tr>
      <th><%= attr.titleize %></th>
      <td><%= value %></td>
    </tr>
  <% end %>
  <tr>
    <th>Code</th>
    <td><%= resource.code %></td>
  </tr>
</table>

<h3>Response</h3>
<pre>
<%= resource.response %>
</pre>
