<br />
<h1> <%= resource.to_s %> </h1>
<p>
  <%= link_to "Edit", edit_resource_path(resource) %> |
  <%= link_to "Delete", resource_path(resource), :method => :delete %> |
  <%= link_to "Back", root_path %> |
  <%= link_to "Download Submissions", download_bundle_submission_path(resource) %>
</p>
<br />

<div class="row">
  <div class="well well-small span5">
    <p class="lead">
    <strong>Assignment Title:</strong>
    <%= resource.assignment %>
    </p>

    <p class="lead">
    <strong>Submitted:</strong>
    <%= resource.updated_at.to_formatted_s(:long_ordinal) %>
    </p>

    <p class="lead">
    <strong>Status:</strong>
    <% if resource.success? %>
      <span class="text-success">PASS</span>
    <% else %>
      <span class="text-error">FAIL</span>
    <% end %>
    </p>
  </div>

  <div class="well well-small span6 pull-right">
    <h3>Results</h3>
    <% if resource.response.nil? %>
      EMPTY
    <% else %>
      <% resource.parse_json.each_with_index do |test, index| %>
        <pre>
          <% if test['Candidate']['Stderr'] != "" %>
            Error: <%= test['Candidate']['Stderr'] %>
          <% end #TODO %>
          Output: <%= test['Candidate']['Stdout'].split("\n").first %>
          <% if resource.assignment.problem.problem_tests[index].show_result %>
            Expected Output: <%= resource.assignment.problem.problem_tests[index].expected_result %>
          <% end %>
        </pre>
      <% end %>
    <% end %>
  </div>
</div>

<h3>Code</h3>
<div class="well well-small">
  <textarea class="view"><%= resource.code %></textarea>
</div>
