<!DOCTYPE html>
<html>
  <head>
    <title>Gradeual</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Gradeual</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>

			  <li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" href="">Problems</a>
			      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			      	<li class="active"><a href="<%= problems_path %>">Problems</a></li>
			      	<li class="active"><a href="<%= new_problem_path %>">New Problem</a></li>
					<br>
			      	<li class="active"><a href="<%= assignments_path %>">Assignments</a></li>
			      	<li class="active"><a href="<%= new_assignment_path %>">New assignment</a></li>
					<br>
			      	<li class="active"><a href="<%= root_path %>">Submissions</a></li>
			      	<li class="active"><a href="<%= root_path %>">New submission</a></li>
			      </ul>
			  </li>
			  
			  <li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" href="<%= groups_path %>">Group</a>
			      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			      	<li class="active"><a href="<%= groups_path %>">Groups</a></li>
			      	<li class="active"><a href="<%= new_group_path %>">New group</a></li>
			      </ul>
			  </li>
            </ul>
          </div><!--/.nav-collapse -->
          <ul class="nav pull-right">
            <% if student_signed_in? %>
              <li><%= link_to "Sign Out", destroy_student_session_path, :method => :delete %></li>
              <li><%= link_to "My Account", edit_student_registration_path %></li>
            <% elsif teacher_signed_in? %>
              <li><%= link_to "Sign Out", destroy_teacher_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Student Sign In", new_student_session_path %></li>
              <li><%= link_to "Teacher Sign In", new_teacher_session_path %></li>
            <% end %>
            <li class="student-login">
          </ul>
        </div>
      </div>
    </div>

    <div id="container" class="container">
      <% if notice.present? %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>

  </body>

  <%= javascript_include_tag "application" %>
</html>
